@model IEnumerable<Blog>
<div class="tech-btm">
    <h4>Yazarın Diğer Blogları</h4>
    @foreach (var blog in Model)
    {
          <div class="blog-grids row mb-3">
             <div class="col-md-5 blog-grid-left">
                 <a href="/Blog/BlogDetails/@blog.BlogId">
                         <img src="@blog.BlogImagePath" class="img-fluid" alt="">
                 </a>
             </div>
             <div class="col-md-7 blog-grid-right">

                 <h5>
                         <a href="/Blog/BlogDetails/@blog.BlogId">@blog.BlogTitle</a>
                 </h5>
                 <div class="sub-meta">
                     <span>
                             <i class="far fa-clock"></i> @(((DateTime)blog.BlogCreateDate).ToString("MMM dd, yyyy"))</span>
                 </div>
             </div>

         </div>

    }   



</div>
