
<h4>Takipte Kalın</h4>
<ul>

	<li>
		<a class="twitter text-center" href="https://www.twitter.com">
			<i class="fab fa-twitter"></i>
			 Twitter</a>
	</li>
	<li>
		<a class="facebook text-center" href="https://www.facebook.com">
			<i class="fab fa-facebook-f"></i>
			 Twitter</a>
	</li>
	<li>
		<a class="pin text-center" href="https://www.pinterest.com">
			<i class="fab fa-pinterest"></i>
			 Pinterest</a>
	</li>

</ul>
