
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
					<h3>Hakkımızda</h3>
					<p>
						Blog (Türkçe: ağ günlüğü, günce) veya Weblog (Türkçe: Ağ kütüğü) teknik bilgi gerektirmeden, kendi istedikleri şeyleri, kendi istedikleri şekilde yazan insanların oluşturabildikleri, günlüğe benzeyen web siteleridir. Genellikle güncelden eskiye doğru sıralanmış yazı ve yorumların yayınlandığı, web tabanlı bir yayını belirtir.
					</p>
					<div class="read">
						<a href="single.html" class="btn btn-primary read-m">Daha Fazla</a>
					</div>
				</div>
				<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

					@await Component.InvokeAsync("BlogListFooter")

				</div>
				<!-- subscribe -->
				<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
					<h2>Bültenimize abone olun</h2>
					<div class="subscribe-main text-left">
							<div class="subscribe-form">
									<form method="post" id="footerSubmitForm" novalidate>
										<input class="form-control" type="email" id="subscribeEmail2" name="SubscriberMail" placeholder="Email adresinizi giriniz..." required="">
										<button type="button" id="footerSubmitButton" class="btn btn-primary submit">Abone ol</button>
									</form>
									<div class="clearfix"> </div>
						   </div>
						<p id="result_footer">Gizliliğinize saygı duyuyoruz. Asla spam mail yoktur!</p>
					</div>
					<!-- //subscribe -->
				</div>
			</div>
			<!-- footer -->
			<div class="footer-cpy text-center">
				<div class="footer-social">
					<div class="copyrighttop">
						<ul>
							<li class="mx-3">
								<a class="facebook" href="#">
									<i class="fab fa-facebook-f"></i>
									<span>Facebook</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-twitter"></i>
									<span>Twitter</span>
								</a>
							</li>
							<li class="mx-3">
								<a class="facebook" href="#">
									<i class="fab fa-google-plus-g"></i>
									<span>Google+</span>
								</a>
							</li>
							<li>
								<a class="facebook" href="#">
									<i class="fab fa-pinterest-p"></i>
									<span>Pinterest</span>
								</a>
							</li>
						</ul>

					</div>
				</div>
				<div class="w3layouts-agile-copyrightbottom">
					<p>© @DateTime.Now.Year Samet Fatih Gözüm. Tüm Hakları Saklıdır 
					</p>

				</div>
			</div>
			<!-- //footer -->
		</div>
	</footer>

<script>  
	$(document).ready(function () {  

		$("#footerSubmitButton").click(function (e) {  
			//Serialize the form datas.  

			var subscribeEmail2 = $('#subscribeEmail2').val();

			function IsEmail(email) {
			  var regex = /^(([^<>()[\]\.,;:\s@@\"]+(\.[^<>()[\]\.,;:\s@@\"]+)*)|(\".+\"))@@(([^<>()[\]\.,;:\s@@\"]+\.)+[^<>()[\]\.,;:\s@@\"]{2,})$/;
			  if(!regex.test(email)) {
				return false;
			  }else{
				return true;
			  }
			}

			if(IsEmail(subscribeEmail2)==false){
				 $('#result_footer').css('color','red')
				 $('#result_footer').text('*Email adresi geçerli değil.');
				 $('#result_footer').fadeIn();

				setTimeout(function () {
					 $('#result_footer').css('color','#777');
					 $('#result_footer').text('Gizliliğinize saygı duyuyoruz. Asla spam mail yoktur!');

				}, 2000);

				 return false;
			}
			else{

				var valdata = $("#footerSubmitForm").serialize();

				$.ajax({  

					url: "/Subscriber/SubscribeMail",  
					type: "POST", 
					dataType: 'json',
					contentType: 'application/x-www-form-urlencoded; charset=UTF-8',  
					data: valdata,
					success:function(data) {

						$('#result_footer').css('color','green')
						$('#result_footer').text(data.message);
						$('#result_footer').fadeIn();
						$('#subscribeEmail2').val('');

						setTimeout(function() {
						  $('#result_footer').css('color','#777');
						  $('#result_footer').text('Gizliliğinize saygı duyuyoruz. Asla spam mail yoktur!');
						}, 3000);
					 }
				});  
			}    
		});  
	});  
</script>  
