
@model About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="banner-inner"></div>

	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Hakkımızda</h3>
			<div class="row inner-sec">
				<div class="left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">

						<h3>
							@Model.AboutDetails1
						</h3>
						<p>@Model.AboutDetails2</p>
						
					</div>
					<div class="row">
						<div class="col-md-6 card mt-3">
							<img class="card-img-top" src="~/images/blogs/banner5.jpg" alt="Card-image">
							
						</div>
						<div class="col-md-6 card mt-3">
							<img class="card-img-top" src="~/images/blogs/banner5.jpg" alt="Card-image">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
