
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Hata!</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
    <link href="~/css/error_style.css" rel="stylesheet" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Üzgünüz, Böyle bir sayfa bulunmamaktadır!</h2>
			<p>Aradığınız sayfa adı değiştirilmiş, kaldırılmış veya kullanılamıyor olabilir.</p>
			<a href="/Blog">ANASAYFA'YA DÖN</a>
		</div>
	</div>
</body>
</html>
